/* 
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/droidarabicnaskh/v6/DroidNaskh-Bold.ttf) format('truetype');
}

.single .post {
    font-family: "Droid Arabic Naskh";
}

.entry p {
    font-size:	0.8em;
    
}

body {
        font-family: "Droid Arabic Naskh", Helvetica, Arial, sans-serif; !imtortant
}
body.custom-font-enabled {
        font-family: "Droid Arabic Naskh", Tahoma, "Open Sans", Helvetica, Arial, sans-serif;  !imtortant
}

/*
body {
        font-family: Tahoma, Helvetica, Arial, sans-serif; !imtortant
}
body.custom-font-enabled {
        font-family: Tahoma, "Open Sans", Helvetica, Arial, sans-serif;  !imtortant
}
*/



.widget {
	font-family: "Droid Arabic Naskh";
}

.entry ul li {
	font-size: 0.9em;
	margin-right: 30pt;
}


.post-meta .post-category {
    float: right;
    margin-left: 6px;   
}
.post-meta .post-date{
    float: right;
}


.page-title .meta-single li {
    float:right;
}
.page-title .meta-single li.comments {
    float: left;
}


/* remove for two column home page */
.post-list .post, .post-list .page{
    float: none;
    width: 100%;
}



/* share column converted to row remove if u dont like it */
.entry.share {
    padding-right:0;
}

.sharrre-container {
    margin-right:0;
    
}


.site-title {
    float: right;
    
}
.site-description {
    float: right;
    margin-right: 20px;
    font-style:normal;
     
}

